* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #00141e;
}
.top-navbar{
    list-style-type: none;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: teal;
    color: #fff;
}
.dropdown-content {
    position: absolute;
    display: none;
    background-color: teal;
    min-width: 160px;
    z-index: 1;
}
.drop:hover .dropdown-content {
    display: block;
    position: fixed;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.logo {
    display: block;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    text-align-all: center;
    float: left;
}
.menu {
    padding-left: 200px;
    padding-right: 50px;
}
.menu li {
    list-style: none;
    float: left;
}
.drpbtn {
    background-color: teal;
    border: none;
    cursor: pointer;
}
.menu li a, .drpbtn{
    display: block;
    color: white;
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.menu li:first-child {
    display: none;
}

.menu li:nth-child(5), .menu li:nth-child(6) {
    float: right;
}
.menu li a:hover,
.dropdown-content a:hover,
.drpbtn:hover{
    background-color: #4c9e9e;
}
.card {
    background-color: #0f2d37;
    color: white;
    padding: 1rem;
    height: 11rem;
}

.card a {
    text-decoration: none;
    color: #fff;
}
.card h1 a:hover {
    text-decoration: underline;
}
.menu li :hover,
.card h1 a:hover,.dropdown-content a:hover,
.drpbtn:hover {
    transition: 0.3s ease;
}

.content{
    padding-top: 70px;
    max-width: 800px;
    margin: auto;
    text-align: left;
    height: 8rem;
    color: #fff;
    display: grid;
    gap: 1rem;
}
@media (min-width: 600px) {
    .content { grid-template-columns: repeat(2, 1fr); }
}

@media screen and (max-width: 900px) {
    .menu li {
     display: none;
    }
    .menu li:first-child {
        float: left;
        display: block;
    }
}
@media screen and (max-width: 900px) {
    .menu.responsive {position: relative;}
    .menu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive li{
    float: none;
    display: block;
    text-align: left;
}
}


