* {
    margin: 0;
    padding: 0;
}

.top-navbar{
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: teal;
    color: #fff;
}
.logo {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 35px;
}
.menu li {
    list-style: none;
    float: left;
}
.menu li a {
    display: block;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li:nth-child(4), .menu li:nth-child(5) {
    float: right;
}
.menu li :hover{
    background-color: #4c9e9e;
    transition: 0.3s ease;
}
.content{
    max-width: 500px;
    margin: auto;
    text-align: center;
}


