* {
    margin: 0;
    padding: 0;
}

.top-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-width: 15px;

}
.logo {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 35px;
}
.menu li {
    margin: 10px;
    list-style: none;

}
.menu a {
    color: #fff;
    text-decoration: none;
}

.menu li :hover{
    border-bottom: 3px solid white;
    transition: 0.3s ease;
}
input[type=checkbox]{
    display: none;
}
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}


